
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
}

<div class="multisteps-form__panel shadow p-4 m-4 list-box bg-white align-content-center" data-animation="scaleIn">
    @*<h5 class="multisteps-form__title">File Notes</h5>*@
    <div style="text-align:center !important"><h2>OOPS!!! <br />Error Occured. Please contact your System Administrator</h2></div>
    

</div>