@model LMSWeb.ViewModel.TblUserViewModel

<div class="container-fluid mt-4 mb-4 pl-4 pr-4">

    <div class="row">
        <div class="col search-container" style="max-width:40%;">
            <i class="fas fa-search"></i>
            <input class="search-box" type="text" id="txtSearchAgreement" placeholder="Search Agreement by name..." />
        </div>
        <div class="col search-container" style="text-align:end;">
            <button type="button" id="btnAgreementAdd" class="btn btn-primary profle-submit-btn "> Add Agreement</button>
        </div>
    </div>

    <div class="row mt-3" id="dvAgreementData">
        <div class="table-responsive">
            <table class="table" id="agreementTable">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date Added</th>
                        <th scope="col" style="text-align:center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        if (Model.lstCRMAgreement.Count > 0)
                        {

                            foreach (var list in Model.lstCRMAgreement)
                            {
                                <tr>
                                    <td>@list.AgreementName</td>
                                    <td>@list.CreatedDate</td>

                                    <td style="text-align:center;">
                                        <a href="#" onclick="OpenEditCheckList(@list.AgreementId)" class="login" title="Edit"><img src="~/assets/images/shape_editUser.png" /></a>
                                        <a href="@Url.Action("ShowCheckListItems", "AdminSettings", new { id = list.AgreementId })" target="_blank" class="login" title="Print"><img src="~/assets/images/shape_Print.png" /></a>
                                    </td>

                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" align="center">No User Available</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">No User Available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<script>
    //$(document).ready(function () {
    //    $('#agreementTable').DataTable({
    //        //"aaSorting": [[3, "desc"]],
    //        "paging": true,
    //        "ordering": false,
    //        "info": true,
    //        "bFilter": true,
    //        "pageLength": 10,
    //        "pagingType": "simple_numbers",
    //        aoColumnDefs: [
    //            {
    //                bSortable: false,
    //                aTargets: [-1, -2]
    //            }
    //        ]
    //    });

    //    $('#agreementTable_filter').hide();

    //    $('#txtSearchAgreement').on('keyup', function () {
    //        $.fn.dataTable.ext.search.push(function (settings, searchData) {
    //            var term = $('#txtSearchAgreement').val().toLowerCase()
    //            for (var i = 0; i < searchData.length; i++) {
    //                if (searchData[i].toLowerCase().indexOf(term) == 0) {
    //                    return true;
    //                }
    //            }
    //            return false;
    //        });
    //        var table = $('#agreementTable').DataTable();
    //        table.draw();
    //    });


    //});
</script>


