@model List<LMSBL.DBModels.CRMNew.tblCRMCheckListItem>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintCheckList</title>
</head>
<body>
    <div style="margin:50px;">
        <span style="font-family: Verdana; font-size: 18px;"><b>Document List</b></span>
        @Html.ActionLink("Print CheckList", "PrintCheckList", new { id = Model[0].CheckListId })
        <ol>
            @foreach (var item in Model)
            {
                <li style="padding:10px;font-family:Verdana;font-size:16px;">@item.ItemName</li>
            }
        </ol>
    </div>
    
</body>
</html>
