@model LMSWeb.ViewModel.CRMDashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
}


<div class="row p-4">
    @Html.Partial("~/Views/CRM/_Clients.cshtml", Model)
</div>

<div class="row p-4">
    @Html.Partial("~/Views/CRM/_EnquiryList.cshtml", Model)
</div>

<div class="row p-4">
    @Html.Partial("~/Views/CRM/_RecentInvoices.cshtml", Model)
</div>
