@model LMSWeb.ViewModel.CRMClientViewModel
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
}

<div class="row" style="display:flex;">
    <div class="col-4">
        <input type="text" id="txtSearch" class="input150" placeholder="Search Client by Name" style="margin-left: 25px;" />
    </div>
    <div class="col-4" style="padding-top:10px;">
        <button style="margin-left: 5px;" type="button" id="btnSearch" class="btn btn-primary js-btn-prev hoverable"><b>Search</b></button>
        <button class="btn btn-primary js-btn-prev hoverable" style="margin-left: 25px;" type="button" title="AddClient"><a href="@Url.Action("AddClient", "CRMUsers")">Add Client</a></button>
    </div>
</div>
<div class="row" id="dvKanbanView">
    @Html.Partial("~/Views/CRMUsers/_ClientList.cshtml", Model)
</div>

<script>
    $(document).ready(function () {
         $("#sidebar").addClass('active');
        $('#btnSearch').on("click", function () {
            SearchClients();
        });
    });
    function SearchClients() {
   $("#divLoader").show();
        var SearchText =  JSON.stringify($("#txtSearch").val());
        $.ajax({
            type: "POST",            
            url: '@Url.Action("GetSearchClient", "CRMUsers")',
            data: '{SearchText: ' + SearchText + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                $('#dvKanbanView').html(response);
                $("#divLoader").hide();

            },
            failure: function (response) {
            },
            error: function (response) {
                console.log(response);
                $('#dvKanbanView').html(response.responseText);
                $("#divLoader").hide();
            }
        });
    }
</script>
